venv/
.idea/
ingeminas/__pycache__/
#accounts
accounts/__pycache__/
accounts/migrations/
accounts/templatetags/__pycache__/

#empresas
empresas/__pycache__/
empresas/migrations/
empresas/templatetags/__pycache__/

#egresados
egresados/__pycache__/
egresados/migrations/
egresados/templatetags/__pycache__/

#administrador
administrador/__pycache__/
administrador/migrations/
administrador/templatetags/__pycache__/