{% extends 'egresados/main.html' %} {% load static %}
{% block content %}



<div class="container">
  {% if convocatorias %}

  <div class="row blog-entries">
    <div class="col-md-12 col-lg-12 main-content">
      <div class="row">
        {% for element in convocatorias %}
        <div class="col-md-4">
          <a class="text-secondary" href="{% url 'convocatorias:ver' element.id %}"
            class="blog-entry element-animate"
            data-animate-effect="fadeIn">
            <img src="{{ element.imagen }}"
              alt="Image placeholder"
              height="200"
              width="600"/>
            <div class="blog-content-body">
              <div class="post-meta">
                <a href="{% url 'empresas:presentacion_empresa' element.empresa.id %}" class="author mr-2">
                <img class="profile-pic-nav" src="{{ element.empresa.foto.url }}" alt=""/>{{ element.empresa.name }}</a>&bullet;
                <span class="mr-2">{{ element.fechaCreacion }}</span> &bullet;
                <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
              </div>
              <h2>{{ element.titulo }}</h2>
            </div>
          </a>
        </div>
        {% endfor %} 
        {% else %}
        <div class="text-center">
          <span>No se encontro ninguna convocatoria.</span>
        </div>
        {% endif %}
      </div>
      
      {% comment %}
      <br />
      <div class="container-fluid">
        <table class="table border table-hover" id="table_empleos">
          <thead>
            <tr class="table-info text-uppercase">
              <th>Titulo</th>
              <th>Descripcion</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for element in convocatorias %}
            <tr id="tr_{{ element.id }}">
              <td>{{ element.titulo }}</td>
              <td>{{ element.descripcion }}</td>
              <td>
                <a
                  href="{% url 'convocatorias:editar' element.id %}"
                  class="btn btn-sm btn-primary"
                  ><span class="fa fa-eye"></span
                ></a>
                <a type="button" class="text-white btn btn-sm btn-danger">
                  <span class="fa fa-trash"></span>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div> 
      {% endcomment %}
      {% endblock content %}
</div>
</div>
</div>
