{% extends 'egresados/main.html' %}
{% block content %}
    <br>
    <div class="container-fluid">

        <div class="card">
            <div class="card-body">
                <form method="POST">


                    <div class="card-body">

                        {% csrf_token %}
                        <div class="row mb-1">
                            <div class="col-md-3">{{ form.nombre.label }}</div>
                            <div class="col-md-9">{{ form.nombre }}</div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-3">{{ form.nit.label }}</div>
                            <div class="col-md-9">{{ form.nit }}</div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-3">{{ form.descripicion.label }}</div>
                            <div class="col-md-9">{{ form.descripicion }}</div>
                        </div>


                    </div>


                    <div class="text-muted">
                        <input class="btn btn-sm btn-success text-white" type="submit" style="float: right"
                               value="crear">
                    </div>

                </form>
            </div>
        </div>

    </div>


{% endblock content %}