
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Edicion del Empleo</h2>
            <buttom class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </buttom>
        </div>
        <div class="modal-body">
            {{ form.as_p }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="submit">ya</button>
        </div>
    </div>
</div>