{% extends 'egresados/main.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <img class="profile-pic row mx-auto mb-1" src="{{ request.user.egresado.foto.url }}" alt="user pic">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row mb-1">
                        <div class="col-md-3">{{ form.name.label }}</div>
                        <div class="col-md-9">{{ form.name }}</div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-3 ">{{ form.email.label }}</div>
                        <div class="col-md-9">{{ form.email }}</div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-3">{{ form.descripcion.label }}</div>
                        <div class="col-md-9">{{ form.descripcion }}</div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-3">{{ form.fechaNacimiento.label }}</div>
                        <div class="col-md-9 mx-auto row">{{ form.fechaNacimiento }}</div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-3">{{ form.fechaGrado.label }}</div>
                        <div class="col-md-9 mx-auto row">{{ form.fechaGrado }}</div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-3">{{ form.foto.label }}</div>
                        <div class="col-md-9">{{ form.foto }}</div>
                    </div>
                    <input style="float: right;background-color: #88d8b0" class="btn btn-sm text-white" type="submit"
                           name="Update Information" value="guardar">
                </form>


            </div>
        </div>
    </div>
{% endblock content %}