{% extends 'empresas/main.html' %}
{% load static %}
{% block content %}

    <br>
    <div class="container-fluid">
            <div class="card-body">
                <form method="POST">


                    <div class="card-body">
                        {% csrf_token %}
                        <div class="row mb-1">
                            <div class="col-md-3">{{ form.titulo.label }}</div>
                            <div class="col-md-9">{{ form.titulo }}</div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-3">{{ form.descripcion.label }}</div>
                            <div class="col-md-9 row mx-auto">{{ form.descripcion }}</div>
                        </div>

                        <br>
                        <div class="container-fluid">
                            <div class="text-center">{{ form.contenido }}</div>
                        </div>
                        <div class="container-fluid">
                            <span>publico</span> <span style="float: right" id="publico_total">-1</span>
                        </div>

                        <select name="empresa" id="id_empresa">
                            <option value="{{ request.user.empresausuario.pk }}" selected></option>
                        </select>
                        <select name="estado" id="id_estado">
                            <option value="empleado">Empleado</option>
                            <option value="desempleado">Desempleado</option>
                        </select>
                        <select name="egresados" id="id_egresados">
                        </select>
                        <div class="row mb-1">
                            <input type="hidden" name="egresado" required id="id_egresado"
                                   value="{{ request.user.egresado.pk }}">
                        </div>

                    </div>


                    <div class=" text-muted">
                        <input class="btn btn-sm btn-success" type="submit" value="guardar" style="float: right">
                        <a class="btn btn-sm btn-primary" href="{% url 'egresados:crear_empresa' %}"
                           style="float: right;margin-right: 2px">agregar empresa</a>
                    </div>

                </form>

            </div>
    </div>
{% endblock content %}

{% block extrajs %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>

    <script>
        $('#id_empresa').hide();
        $('#id_egresados').hide();
        let btn_estado = document.getElementById('id_estado');

        btn_estado.onclick = function () {
            $.ajax({
                url: "{% url 'egresados:egresados' %}",
                type: "GET",
                data: {"estado": document.getElementById('id_estado').value},
                dataType: 'json',
                success: function (status, result) {
                    console.log(status);
                    llenar_select_egresados(status);
                },
                fail: function () {
                    alert("error");
                }
            });

            function llenar_select_egresados(egresados) {
                let opcion = "";
                for (let k = 0; k < egresados.length; k++) {
                    opcion += "<option value='";
                    opcion += egresados[k]['id'];
                    opcion += "'>" + egresados[k]['name'] + "<";
                    opcion += "/option>";
                }

                document.getElementById('id_egresados').innerHTML = opcion;
                count(egresados.length);
            }

        }
    </script>
    <script>
    function count(total){
  var counter = { var: 0 };
  TweenMax.to(counter, 3, {
    var: total,
    onUpdate: function () {
      var number = Math.ceil(counter.var);
      $('#publico_total').html(number);
      if(number === counter.var){ return; }
    },
    onComplete: function(){

    },
    ease:Circ.easeOut
  });
}
//count(2);
    </script>
    <script type="text/javascript" src="{% static 'js/convocatorias/script.js' %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock extrajs %}