{% extends 'accounts/main.html' %}
{% block content %}
    <div class="card-header">
        <span class="text-secondary">Informacion Personal</span>
    </div>
    <div class="card-body">
    <div class="row">
        <img class="profile-pic" src="{{ request.user.egresado.foto.url }}" alt="user pic">
    </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <input class="btn btn-secondary" type="submit" name="Update Information" value="Guardar">
        </form>
    </div>
{% endblock content %}